{# This file is inserted as the 'footer' of each listed record (pages only). #}
<p class="meta">
    {% if record.editlink() %}
        <span class="edit-link"><a href="{{ record.editlink() }}"><strong>Edit</strong></a></span>
    {% endif %}
</p>
